body {
    background: gainsboro;
    padding: 20px;
}

button {
  height: 36px;
  width: 120px;
}

.generator {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
 
.sidebar {
  background-color: seagreen;
  width: 320px;
}

.main {
    margin: 1em;
    display: flex;
}